*{
    margin:0;
    padding:0;
}

:root {
    --primary-color: #07012B;
    --secondary-color: #8EA7bb;
    --tertiary-color: #ad5c1a;
    --quaternary-color: #406b25;
    --hover-color: #EDE0F5;
}


/*HEADER*/
/* ========================================================================== */
/* NAVBAR */
/* ========================================================================== */

body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: var(--hover-color);
  }
  
  .header .logo {
    width: 20px;
    display: block;
    float: left;
    text-decoration: none; 
  }

  .logo .logo-img{
      max-width: 100px;
  }
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

/*HEADER ENDS*/
body{
    font-family: 'Montserrat';
}
/*BOXES*/

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    grid-template-areas: "block1 block2"
                         "block3 block4"
                         "block5 block6"
                         "block7 block8";
    padding:50px 100px 50px 100px;
}

.firstblock{
    grid-area: block1 ;
    background-image: url(images/20.jpg);
    background-size:cover;
    height:500px;
    font-family: 'Montserrat';
    
}

.secondblock{
    grid-area: block2 ;
    background-color: #8EA7BB;
    height:500px;
    font-family: 'Montserrat';
}

.thirdblock{
    grid-area: block3 ;
    background-color:#406B25;
    height:500px;
    font-family: 'Montserrat';
}


.fourthblock{
    grid-area: block4 ;
    background-image: url(images/21.jpg);
    background-size:cover;
    height:500px;
    font-family: 'Montserrat';
}


.fifthblock{
    grid-area: block5 ;
    background-image: url(images/25.jpg);
    background-size:cover;
    height:500px;
}

.sixthblock{
    grid-area: block6 ;
    background-color: #07012B;
    height:500px;
}

.seventhblock{
    grid-area: block7 ;
    background-color:#8EA7BB;
    height:500px;
}

.eighthblock{
    grid-area: block8 ;
    background-image: url(images/5.jpg);
    background-size:cover;
    height:500px;
}

h1{
padding-top:140px ;
color:white;
font-family: 'Montserrat';
font-size: 38px;
text-align: center;
}

h2{
    padding-top: 20px;
    color:white;
    font-size: 38px;
    text-align: center;  
}

h3{
    padding-top:115px ;
    color:white;
    font-size: 38px;
    text-align: center;
    }

    h4{
        padding-top:130px ;
        color:white;
        font-size: 38px;
        text-align: center;
        }

p{
    color:white;
    padding-top:50px;
    padding-left:70px;
    padding-right:70px;
    font-size: 18px;
    text-align: center;
}
/*BOXES END*/

.layout p{
  width: 400px;
}

/* ========================================================================== */
/* FOOTER */
/* ========================================================================== */

#footer{
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%;
  background: #8EA7BB;
}
.footer-head{
  color: white;
  font-size: 28px;
}
#footer a{
  color:#f4f4f4;
}
.text-footer{
  color: #f4f4f4;
}
.email{
  color: #f4f4f4;
}
.place{
  color:#f4f4f4;
}
.phone{
  color:#f4f4f4 ;
}
h2{
  text-align: center;
}
.social{
  text-align: center;
}
.content{
  text-align: center;
}
.copyright{
  text-align: center;
  font-size: 12px;
}
.copyright p{
  color: var(--primary-color);
}
/* ========================================================================== */
/* MEDIA */
/* ========================================================================== */

@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }


  @media (max-width: 1180px) {
    .layout{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

