* {
    margin: 0;
    padding: 0;
   font-family: 'Montserrat';
}

:root {
    --primary-color: #07012B;
    --secondary-color: #b2cadda4;
    --tertiary-color: #ad5c1a;
    --quaternary-color: #406b25;
    --hover-color: #EDE0F5;
}

/* ========================================================================== */
/* NAVBAR */
/* ========================================================================== */

body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: var(--hover-color);
  }
  
  .header .logo {
    width: 20px;
    display: block;
    float: left;
    text-decoration: none; 
  }

  .logo .logo-img{
      max-width: 100px;
  }
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

/*HEADER ENDS*/



/*SECTION*/

.h1-main {
font-size: 60px;
padding: 50px;
display: flex;
justify-content: space-evenly;

}
.heading {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat";
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 60px;

}

.container {
    width: 100%;
    display:flex;
    box-sizing:border-box;
    flex-direction: row;
    margin-bottom: 80px;
}

.internalcontainerR {
    flex: 1;
    background-color: var(--secondary-color);
    padding: 30px;
    font-size: 20px;
    font-family:'Montserrat';
    margin: 5px;
    text-align: center;
    align-content: center;
}

.internalcontainerM {
flex: 1;
background-color: var(--secondary-color);
padding: 30px;
font-size: 20px;
font-family:'Montserrat';
margin: 5px;
text-align: center;
align-content: center;
}

.internalcontainerB {
    flex: 1;
background-color: var(--secondary-color);
padding: 30px;
font-size: 20px;
font-family:'Montserrat';
margin: 5px;
text-align: center;
align-content: center;
}

.image {
    width:300px;

}

.h1 {
flex: 1;
padding: 30px;
font-size: 20px;
font-family:'Montserrat';
margin: 20px;
align-content: right;
margin-bottom: 30px;
}

/*FORM STARTS*/
.form {
  padding-left: 80px;
  overflow: hidden;
  margin: 10px;
}

.form h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.form p {
  font-size: 20px;
  margin: 15px 0;
}

.form input {
  font-size: 16px;
  padding: 15px 10px;
  width: 90%;
  border: 10px;
  border-radius: 5px;
  outline: none;
}

input [type="submit"] {
  font-size: 18px;
  font-size: 18px;
  font-weight: bold;
  margin:20px 0;
}



/*FORM ENDS*/

button{
  padding: 5px;
  font-size: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  border: solid 1px #333;
}
button:hover{
  background-color: var(--hover-color);
  border: solid 1px #333;
}


/* ========================================================================== */
/* designers 0000000 */
/* ========================================================================== */
.designer1  {
  display: flex;
  flex-direction: column; 
padding: 30px;
font-size: 20px;
font-family:'Montserrat';
margin: 5px;
margin-bottom: 30px;
align-items: center ;
}

.trainer-photo{
  max-width: 300px;
}

.deimage {

  float: inline-start;
}

.design-h1{
  display: flex;
  justify-content: center;
}

.trainer-text-container{
  display: flex;
  flex-direction: column;
  padding: 30px;
}


.trainers-social{
  text-align: center;
  padding: 10px;
}

.fa-youtube{
  color: red;
}

.fa-twitter{
  color: #1DA1F2;
}
.fa-facebook-f{
  color: #4267B2
}




/* ========================================================================== */
/* FOOTER */
/* ========================================================================== */

#footer{
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%;
  background: #8EA7BB;
}
.footer-head{
  color: white;
  font-size: 28px;
}
#footer a{
  color:#f4f4f4;
}
.text-footer{
  color: #f4f4f4;
}
.email{
  color: #f4f4f4;
}
.place{
  color:#f4f4f4;
}
.phone{
  color:#f4f4f4 ;
}
h2{
  text-align: center;
}
.social{
  text-align: center;
}
.content{
  text-align: center;
}
.copyright{
  text-align: center;
  font-size: 12px;
}
.copyright p{
  color: var(--primary-color);
}



@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .h1-main{
        font-size:30px ;
    }
}

/* ========================================================================== */
/* MEDIA */
/* ========================================================================== */

@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

    .designer1  {
      display: flex;
      flex-direction: row; 
    }
    
    .designer2 {
    display: flex;
    flex-direction: row;
    }
    
    .designer3 {
      display: flex;
    flex-direction: row;
    }

  }